 * {
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
.logo{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 23%;
    background-color: #303030;

}
.logo img{
    position: relative;
    height: auto;
    margin-left: 20px;
    height: 90%;
}
.references{
    overflow: hidden;
    padding: 15px 0 0 13px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: none;
    height: 30%;
    bottom:55%;
    width: 22%;
    left: 70%;
    gap: 20px;
}
.references a{
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: wheat;
    height: auto;
    font-size: 27px;
    transition: transform 1.2s ease;

}
.references a:hover{
    overflow: hidden;
    transform: scale(1.2);

}
body{
    background-image: url("1611251984_27-p-svetlo-serii-fon-dlya-saita-29.jpg");
}
.logo .name{
    position: absolute; 
    top: 60px; 

    color: wheat;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.header{
    overflow: hidden;
    top:58%;
    position: absolute;
    color: black;
    background-color: #686868;
    border-radius: 5px;
    left:26%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.firstIMG{
    position: absolute;
    width: 20%;
    top: 28%;
    left: 1%;
    border-radius: 6px;
    border: 5px solid grey;
}
.secondIMG{
    position: absolute;
    width: 20%;
    top: 67%;
    left: 1%;
    border-radius: 6px;
    border: 5px solid grey;
}
.thirdIMG{
    position: absolute;
    width: 20%;
    top: 28%;
    left: 78%;
    border-radius: 6px;
    border: 5px solid grey;

}
.fourthIMG{
    position: absolute;
    width: 20%;
    height: 30%;
    top: 67%;
    left: 78%;
    border-radius: 6px;
    border: 5px solid grey;
}
.footer{
    overflow: hidden;
    position: absolute;
    width: 100%;
    top:100%;
    height: 30%;
    background-color: #303030;

}
.footer .maga{
    position: relative;
    width: 10%;
    left:17%;
    top:9%;

}
.here{
    position: absolute;
    top:8%;
    color: white;
    left: 15%;
    width: 60%;

}
.here1{
    position: absolute;
    top:95%;
    color: white;
    left: 15%;
    width: 60%;

}
.contacts{
    position: relative;
    bottom: 70%;
    left: 30%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.map{
    position: absolute;
    left: 30%;
    top: 5%;
    width: 30%;
    height: 90%;
}
@media screen and (max-width: 768px) {
    .logo{
        position: absolute;
        width: 100%;
        height: 23%;
        background-color: #303030;
    
    }
    .logo img{
        position: relative;
        height: auto;
        margin-left: 20px;
        height: 90%;
    }
    .references{
        padding: 15px 0 0 13px;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: none;
        height: 30%;
        bottom:55%;
        width: 22%;
        left: 70%;
        gap: 20px;
    }
    .references a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        color: wheat;
        height: auto;
        font-size: 10px;
        transition: transform 1.2s ease;
        white-space: nowrap;
    
    }
    .references a:hover{
        transform: scale(1.2);
    
    }
    body{
        background-image: url("1611251984_27-p-svetlo-serii-fon-dlya-saita-29.jpg");
    }
    .logo .name{
        position: absolute; 
        top: 60px; 
    
        color: wheat;
        left: 26%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .header{
        top:58%;
        position: absolute;
        color: black;
        background-color: #686868;
        border-radius: 5px;
        left:7.5%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .firstIMG{
        position: absolute;
        width: 40%;
        top: 28%;
        left: 1%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .secondIMG{
        position: absolute;
        width: 40%;
        top: 67%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .thirdIMG{
        position: absolute;
        width: 40%;
        top: 28%;
        left: 58%;
        border-radius: 6px;
        border: 5px solid grey;
    
    }
    .fourthIMG{
        position: absolute;
        width: 40%;
        height: 25%;
        top: 67%;
        left: 58%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .footer{
        position: absolute;
        width: 100%;
        top:100%;
        height: 30%;
        background-color: #303030;
    
    }
    .footer .maga{
        position: relative;
        width: 24%;
        left:3%;
        top:9%;
    
    }
    .here{
        position: absolute;
        top:8%;
        color: white;
        left: 5%;
        width: 90%;
    
    }
    .here1{
        position: absolute;
        top:95%;
        color: white;
        left: 5%;
        width: 90%;
    
    }
    .contacts{
        font-size: 13px;
        position: relative;
        bottom: 70%;
        left: 28%;
        color: white;
    bottom: 73%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .map{
        position: absolute;
        left: 35%;
        top: 40%;
        width: 32%;
        height: 70%;
    }
    
}


@media screen and (max-width: 576px) {
    .logo{
        position: absolute;
        width: 100%;
        height: 23%;
        background-color: #303030;
    
    }
    .logo img{
        position: relative;
        height: auto;
        margin-left: 20px;
        height: 90%;
    }
    .references{
        padding: 15px 0 0 13px;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: none;
        height: 30%;
        bottom:55%;
        width: 22%;
        left: 70%;
        gap: 20px;
    }
    .references a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        color: wheat;
        height: auto;
        font-size: 10px;
        transition: transform 1.2s ease;
        white-space: nowrap;
    
    }
    .references a:hover{
        transform: scale(1.2);
    
    }
    body{
        background-image: url("1611251984_27-p-svetlo-serii-fon-dlya-saita-29.jpg");
    }
    .logo .name{
        position: absolute; 
        top: 60px; 
    
        color: wheat;
        left: 26%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .header{
        top:58%;
        position: absolute;
        color: black;
        background-color: #686868;
        border-radius: 5px;
        left:7.5%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .firstIMG{
        position: absolute;
        width: 40%;
        top: 28%;
        left: 1%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .secondIMG{
        position: absolute;
        width: 40%;
        top: 67%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .thirdIMG{
        position: absolute;
        width: 40%;
        top: 28%;
        left: 58%;
        border-radius: 6px;
        border: 5px solid grey;
    
    }
    .fourthIMG{
        position: absolute;
        width: 40%;
        height: 25%;
        top: 67%;
        left: 58%;
        border-radius: 6px;
        border: 5px solid grey;
    }
    .footer{
        position: absolute;
        width: 100%;
        top:100%;
        height: 30%;
        background-color: #303030;
    
    }
    .footer .maga{
        position: relative;
        width: 24%;
        left:3%;
        top:9%;
    
    }
    .here{
        position: absolute;
        top:8%;
        color: white;
        left: 5%;
        width: 90%;
    
    }
    .here1{
        position: absolute;
        top:95%;
        color: white;
        left: 5%;
        width: 90%;
    
    }
    .contacts{
        font-size: 13px;
        position: relative;
        bottom: 70%;
        left: 28%;
        color: white;
    bottom: 73%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .map{
        position: absolute;
        left: 35%;
        top: 40%;
        width: 32%;
        height: 70%;
    }
    
}